.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Button {
    border: 1px solid gray;
    padding:16px;
    background-color: gray;
    color: white;
    font: inherit;
    cursor: pointer;
  }
  
  .Button:hover {
    background-color: white;
    color: gray;
  }
  
  .Button.red {
    background-color: red;
  }
  
  .Button.red:hover {
    background-color: salmon;
    color: black;
  }