.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
}

.BuildControl .Label {
    width: 100px;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;  
}

.BuildControl .Less {
    background-color: #f7ba75;
    color: white;
}
.BuildControl .Less[disabled] {
    opacity: .3;
}

.BuildControl .More {
    background-color: #8f5e1e;
    color: white;
}

.BuildControl .Less:not([disabled]):hover, .BuildControl .Less:not([disabled]):active {
    background-color: #daa972;
    color:white;
}

.BuildControl .More:hover, .BuildControl .More:active {
    background-color: #99703f;
    color: white;
}